$bg-main: linear-gradient(174.61deg, #041833 4.16%, #04244F 48%, #154580 96.76%);
$color-main: white;
$color-secundary: #7B78E5;
$degrade: linear-gradient(90deg, #C98CF1 0%, #7B78E5 100%);
$color-gray: #455872;
$color-blue: #064e64;
$banner: no-repeat center url('./src/assets/banner.png');
$search: no-repeat right url('./src/assets/search.png');

$default-size: 3rem;