.button{
    margin: 0;
    font-size: 1.5em;
    padding: 0.4em 0;
    background-color: var(--button-color);
    color: var(--font-color-main);
    border-radius: 0.4em;
    border-style: none;
    border: 2px solid transparent;
}
.button:hover{
    cursor: pointer;
}

.tag-selected{
    background:  linear-gradient(#455872, #455872) padding-box, 
    var(--degrade-pink) border-box;
}

.button__see-all{
    width: 212px;
    height: 51px;
    font-size: 1.25em;
    background:  linear-gradient(var(--color-blue),var(--color-blue)) padding-box, 
    var(--degrade-pink) border-box;
}