.menu__item, .footer__social-media{
    text-decoration: none;
    color: var(--font-color-main);
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    gap: 0.75em;
}

.menu__item{
    cursor: pointer;
}

.menu__item-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
    width: 1.25em;
    height: 1.25em;
    border-radius: .2em;
}

.menu__item-selected{
    color: var(--font-color-secundary);
    font-weight: 500;
}

.menu__item-selected .menu__item-icon{
    background: var(--degrade-pink);
}