.header{
    padding: 0 1.5em;
}

.header h1{
    color: var(--font-color-main);
    margin: 0;
    display: flex;
}

.header input{
    background:  linear-gradient(#041833, #041833) padding-box, 
    var(--degrade-pink) border-box;
    color: var(--font-color-main);
    padding: .6em .8em;
    font-size: 1.25em;
    width: 27.8em;
    height: 2.8em;
    border: 2px solid transparent;
    border-radius: .5em;
}
.header input::placeholder{
    background-color: none;
    color: var(--font-color-main);
}