.footer{
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}

.footer ul{
    display: flex;
    column-gap: 2.1875em;
}

.footer li{
    display: flex;
    align-items: center;
}

.footer img{
    width: 1.45em;
}